
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300&display=swap');


body {
  margin : 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #002D62;
}

header{
  width: auto;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}

.nav-bar ul{
  display: flex;
}

.nav-bar li{
  list-style-type: none;
}

.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration:none; 

}

.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}

.nav-bar ul li a.active{
  color: #11101b;
  background: #fefefe;
}

/* .form{
  color: white;
  padding: ;
} */

.background{
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

button{
  background-color: #11101b; 
  border-radius: 29px; 
  border: 1px solid #11101b; 
  color: white; 
  font-size: 15px; 
 padding: 10px 45px; 
  cursor: pointer; 
  transition: 0.3s; 
}

button:hover{
  background-color: white; 
  color: #11101b; 
  border-color: #11101b; 
  transition: 0.3s; 
}

.condition{
  text-align: center;
  margin-top: 80px;
}

input{
  border-radius: 6px;
  font-size: medium;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 98%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-80%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #002D62;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: black;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}